/***variables***/

$fontFamily: 'Raleway',
sans-serif;
$font: 16px;
$black: #1f1f1f;
// $pink: #ef1f52;
$pink: #f804e4;
$violet: #7017e6;
$gray: gray;
$lightgray: #cccac5;
$boxShadom: #cccac5;
$white: #fff;
$transition: .5s ease;
$padding: 50px 0;

/***basic styles***/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 200px;
}

body {
    font-family: $fontFamily;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

ul {
    list-style: none;
}

a {
    color: $black;
    text-decoration: none;
    &:hover {
        color: $pink;
        transition: $transition;
    }
}

.container {
    width: 80%;
    margin: auto;
}


/*** mixins ***/

@mixin flex($justify, $align, $direction, $wrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin btn {
    background: $pink;
    padding: 10px 30px;
    color: $white;
    font-size: 1rem;
    border: none;
    border-radius: 40% 10% / 30% 63%;
    margin-top: 20px;
    cursor: pointer;
    &:hover {
        background: $violet;
        color: $pink;
        transition: $transition;
        // border: 1px solid $pink;
    }
}


/*** nav ***/

.stickyAdd {
    box-shadow: 0 1px 8px 3px rgba(0, 0, 0, .6);
    padding: 10px 40px;
}

nav {
    @include flex(space-between, center, row, wrap);
    padding: 15px 40px 20px 40px;
    background: linear-gradient(to right, $pink, $violet);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    .logo {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        &:hover {
            color: $white;
            transition: $transition;
        }
        span {
            color: $white;
            font-size: 1rem;
            font-weight: 400;
        }
    }
    ul {
        @include flex(center, center, row, wrap);
        @media (max-width: 768px) {
            flex-direction: column;
        }
        li {
            margin: 0 20px;
            text-transform: uppercase;
            @media (max-width: 768px) {
                margin: 10px;
            }
        }
        li:nth-child(5) {
            background: $pink;
            padding: 10px 20px;
            border-radius: 40% 10% / 30% 63%;
            a {
                color: $white;
                &:hover {
                    color: $lightgray;
                }
            }
        }
        li:nth-child(6) {
            color: $white;
            background: $black;
            padding: 10px 15px;
            a {
                color: $white;
            }
            &:hover {
                color: $lightgray;
            }
        }
    }
    .bars {
        display: none;
        @media (max-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            cursor: pointer;
        }
        .bar {
            width: 25px;
            height: 3px;
            background: $pink;
            margin: 3px;
            transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
        }
    }
    .bars-open {
        .bar:nth-child(1) {
            transition: transform .2s ease-in-out;
            transform: rotate(45deg) translate(6.5px, 6px);
        }
        .bar:nth-child(2) {
            opacity: 0;
        }
        .bar:nth-child(3) {
            transition: transform .2s ease-in-out;
            transform: rotate(-45deg) translate( 6.5px, -6.5px);
        }
    }
    .nav-menu {
        @media (max-width: 768px) {
            display: none;
            background: $black;
            flex-direction: column;
            position: absolute;
            top: 68px;
            left: 0;
            width: 100%;
            a {
                color: $white;
                &:hover {
                    color: $pink;
                    transition: $transition;
                }
            }
        }
        @media (min-width:769px) {
            display: flex !important;
        }
    }
}


/*** header ***/

header {
    @include flex(center, flex-end, column, wrap);
    background: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
    padding-right: 300px;
    text-align: end;
    @media (max-width: 768px) {
        height: 60vh;
        padding-right: 50px;
    }
    h1 {
        font-size: 3rem;
        line-height: 1.3;
        @media (max-width: 768px) {
            font-size: 2rem;
        }
    }
    h2 {
        color: $pink;
        font-size: 1.5rem;
        margin-top: 20px;
    }
    p {
        color: $pink;
        font-size: 0.9rem;
        line-height: 1.8;
    }
    button {
        @include btn;
    }
}


/*** about ***/

.counting {
    @include flex(flex-start, center, row, wrap);
    padding: $padding;
    @media (max-width: 768px) {
        padding: 0 0 40px 0;
    }
    article:first-child {
        h2 {
            font-size: 8rem;
            color: $lightgray;
            margin-right: 50px;
            text-shadow: 0px 1px 1px gray;
            @media (max-width: 768px) {
                font-size: 5rem;
            }
        }
    }
    article:last-child {
        h3 {
            text-transform: uppercase;
            font-size: 1rem;
        }
        span {
            color: $pink;
            font-size: 1.8rem;
        }
        h2 {
            font-size: 1.8rem;
        }
    }
}

.aboutus {
    @include flex(space-between, initial, row, wrap);
    article:first-child {
        flex: 1;
        background-image: url(../img/about.jpg);
        background-position: center;
        background-size: cover;
        height: 60vh;
        @media (max-width: 768px) {
            flex: 0 0 100%;
            height: 41vh;
        }
    }
    article:last-child {
        flex: 1;
        background: $black;
        padding: 50px;
        color: $white;
        @include flex(center, flex-start, column, wrap);
        @media (max-width: 768px) {
            flex: 0 0 100%;
        }
        h2 {
            text-transform: uppercase;
        }
    }
}


/*** services ***/

.services {
    @include flex(space-between, center, row, wrap);
    @media (max-width: 768px) {
        flex-direction: column;
    }
    article {
        flex: 0 0 30%;
        border: 1px solid $black;
        padding: 20px;
        margin-bottom: 50px;
        &:hover {
            box-shadow: 0 0 20px $boxShadom;
            transition: $transition;
            transform: scale(1.1);
        }
        i {
            color: $pink;
            font-size: 3.5rem;
            margin-bottom: 30px;
        }
        h2 {
            font-size: 1.5rem;
            margin-bottom: 20px;
        }
        hr {
            background-color: $gray;
            border: none;
            height: 2px;
            margin-bottom: 20px;
        }
    }
}


/*** personal business ***/

.personalBusiness {
    background: $black;
    padding: $padding;
    @media (max-width: 768px) {
        padding: 0;
    }
    .counting {
        color: $white;
        p {
            color: $lightgray;
        }
        h3 {
            color: $lightgray;
        }
        button {
            @include btn;
        }
    }
    .counter {
        @include flex(space-between, center, row, wrap);
        padding-bottom: 50px;
        article {
            flex: 0 0 30%;
            @media (max-width: 768px) {
                flex: 0 0 100%;
            }
            @include flex(center, center, column, wrap);
            h2 {
                color: $pink;
                font-size: 3.5rem;
                @media (max-width: 768px) {
                    font-size: 2.5rem;
                }
            }
            h3 {
                color: $pink;
                font-size: 1.8rem;
                text-transform: uppercase;
                @media (max-width: 768px) {
                    font-size: 1rem;
                }
            }
            hr {
                width: 20%;
                color: $lightgray;
                margin-top: 20px;
            }
        }
    }
}


/*** team ***/

.team {
    @include flex(space-between, center, row, wrap);
    article {
        flex: 0 0 30%;
        @media (max-width: 768px) {
            flex: 0 0 100%;
        }
        text-align: center;
        margin-bottom: 50px;
        img {
            border: 15px solid $lightgray;
            border-radius: 50%;
            width: 100%;
            &:hover {
                border: 15px solid $pink;
                transition: $transition;
            }
        }
        h3 {
            color: $pink;
            font-size: 1.1rem;
            margin: 20px 0;
        }
        p {
            font-size: 1rem;
            line-height: 1.3;
        }
    }
}


/*** footer ***/

footer {
    background: linear-gradient(to right, $violet, $pink);
    @include flex(space-around, center, row, wrap);
    padding: 50px;
    @media (max-width: 768px) {
        flex-direction: column;
        article {
            margin: 20px 0;
        }
        div {
            text-align: center;
        }
    }
    article:nth-child(1) {
        a {
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1;
            color: $white;
            &:hover {
                color: $lightgray;
                transition: $transition;
            }
        }
        span {
            color: $pink;
            font-size: 1rem;
            font-weight: 400;
        }
    }
    article:nth-child(2) {
        color: $white;
        text-align: center;
        i {
            font-size: 2rem;
        }
    }
    article:nth-child(3) {
        color: $white;
        text-align: center;
        i {
            font-size: 2rem;
        }
    }
    article:nth-child(4) {
        color: $white;
        text-align: center;
        i {
            font-size: 2rem;
        }
    }
}